{% extends 'base.html' %} {% load static %} {% block content %}

<section class="section-padding section-bg" id="section_2">
    <div class="container">
        <div class="row">

           

            <div class="col-lg-12 col-12">
              
                
                <div class="row">

                   
                    <div class="col-lg-12 col-md-6 col-12">
                        <div class="custom-text-box mb-lg-0 text-center">
                            <h5 class="mb-3 text-center">Learn About Us</h5>

                            <p class="text-center"><strong>Websight Innovations</strong>  is a forward-thinking technology company committed to delivering creative, reliable, and transformative digital solutions. Founded in January 2023, our mission is to empower businesses and individuals through innovative software, intuitive designs, and impactful user experiences.
                                <p>In April 2024, we proudly opened the doors to our physical office, located along the Eastern Bypass in Nairobi, marking a major milestone in our growth and our commitment to serving our clients with a stronger local presence.</p>

                                <p>Since our inception, we've been driven by a passion for innovation and a dedication to excellence. Whether developing custom applications, designing user-friendly websites, or offering IT consultancy, we bring clarity and creativity to every project.</p>

                               <p><strong>At Websight Innovations, we don’t just build solutions—we build relationships and deliver value that lasts.</strong></p> .</p>

                            
              
                        </div>
                    </div>
            
                </div>



                
            </div>

        </div>
    </div>
    <div class="container-fluid bg-danger mb-2 wow fadeIn" data-wow-delay="0.1s" style="padding: 2px">
        <div class="container">
          <div class="row g-2">
            <div class="col-md-10">
              <div class="row g-2"></div>
            </div>
          </div>
        </div>
      </div>
</section>


<section class="about-section section-padding">
    <div class="container">
        <h5 class="mb-3 text-center">Our Team</h5>
        <div class="row">

            <div class="col-lg-4 col-md-5 col-12">
                <br><br><br>    <br>  
                <img src="/static/images/kerry/ceo2.jpg" class="about-image ms-lg-auto bg-light shadow-lg img-fluid" alt="Kerry Komar">
                <br>
                <ul class="social-icon mt-4 text-center">
                    <li class="social-icon-item">
                        <a href="https://x.com/kerry_komar" class="social-icon-link bi-twitter" target="_blank"></a>
                    </li>

                    <li class="social-icon-item">
                        <a href="https://github.com/Kerrykogei24" class="social-icon-link bi-github" target="_blank"></a>
                    </li>

                    <li class="social-icon-item">
                        <a href="tel:0723424164" class="social-icon-link bi-telephone"></a>
                    </li>
                          <li class="social-icon-item">
                        <a href="https://www.linkedin.com/in/kerry-komar-bb66351a8/" class="social-icon-link bi-linkedin" target="_blank"></a>
                    </li>

                    <li class="social-icon-item">
                        <a href="https://medium.com/@kerrykomar" class="social-icon-link bi-medium" target="_blank"></a>
                    </li>

                    <li class="social-icon-item">
                        <a href="https://wa.me/+254723424164?text=Hello Kerry" class="social-icon-link bi-whatsapp" target="_blank"></a>
                    </li>
                </ul>
            </div>
            

            <div class="col-lg-8 col-md-7 col-12">
                <div class="custom-text-block">
                    <h2 class="mb-0">Kerry Kogei</h2>

                    <p class="text-muted mb-lg-4 mb-md-4">Software Developer  & IT Specialist </p>

                    <p>Kerry Kogei is the visionary Founder and Managing Director of Websight Innovations, bringing a unique blend of creativity, technical expertise, and leadership to the company. A seasoned IT Specialist, Software Developer, and Data Analyst, Kerry has a proven track record in building full-stack web applications, crafting data-driven dashboards, and delivering impactful digital solutions.</p>

                    <p>With a background in Economics and Statistics, and professional training from Moringa School and eMobilis, Kerry combines analytical precision with a passion for innovation. Since launching Websight Innovations in January 2023, he has led the team in creating user-centered products that solve real-world challenges.</p>

             <p>Kerry’s leadership reflects his commitment to excellence, continuous learning, and empowering others through technology.</p>
                </div>
            </div>

        </div>
    





</div>
</section>



 {% endblock %}