
    

        {% extends 'base.html' %} {% load static %} {% block content %}


    
    
   

        <main>
        
     

            <section class="hero-section hero-section-full-height">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-lg-12 col-12 p-0">
                            <div id="hero-slide" class="carousel carousel-fade slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="/static/images/clients/starlink.webp" class="carousel-image img-fluid" alt="...">
                                        
                                        
                                        <div class="carousel-caption d-flex flex-column justify-content-end">
                                            <h1 class="komar">Professional</h1>
                                            <h5>Get Best services</h5>
                                            
                                        
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <img src="/static/images/clients/4K-Cameras.webp" class="carousel-image img-fluid" alt="...">
                                        
                                        <div class="carousel-caption d-flex flex-column justify-content-end jumbotron">
                                            <h1 class="komar" >Best Products</h1>
                                            
                                            <h5>You can support us to grow more</h5>
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <img src="/static/images/clients/web.jpg" class="carousel-image img-fluid" alt="...">
                                        
                                        <div class="carousel-caption d-flex flex-column justify-content-end">
                                            <h1 class="komar"> <small>We are here for you</small></h1> 
                                            <h5>Please tell your friends about our website</h5>
                                        </div>
                                    </div>
                                </div>

                                <button class="carousel-control-prev" type="button" data-bs-target="#hero-slide" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>

                                <button class="carousel-control-next" type="button" data-bs-target="#hero-slide" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        
    
         

            <section class="section-padding section-bg" >

            
                <div class="container-fluid bg-danger mb-2 wow fadeIn" data-wow-delay="0.1s" style="padding: 2px">
                    <div class="container">
                      <div class="row g-2">
                        <div class="col-md-10">
                          <div class="row g-2"></div>
                        </div>
                      </div>
                    </div>
                  </div>

                <div class="container-fluid">
                    <div class="row">

                        <div class="col-lg-1 col-12">

                        </div>

                        <div class="col-lg-10 col-12">
                            <div class="custom-text-box text-center">
                                <h2 class="mb-2 text-center">WEBSIGHT INNOVATIONS </h2>

                                <h5 class="mb-3">Your One-Stop Tech Solutions Hub

                                </h5>

                                <p class="mb-0">At Websight Innovations, we bring the digital world closer to you. Specializing in website development, internet and network solutions (LAN, WAN, and beyond), CCTV camera installations, and intercom systems, we are your trusted partner for smart, secure, and connected living and working environments.

                                    Our commitment doesn’t stop at services – step into our shop for a curated selection of mobile accessories and a wide range of tech products that complement your lifestyle and professional needs.
                                    
                                    With a passion for innovation and a focus on customer satisfaction, Websight Innovations combines technical expertise with a personal touch to deliver cutting-edge solutions that work for you.

                                </p>
                            </div>
                            
                        </div>
                        <div class="col-lg-1 col-12">

                        </div>
                    </div>

                    <div class="container-fluid bg-danger mb-2 wow fadeIn" data-wow-delay="0.1s" style="padding: 2px">
                        <div class="container">
                          <div class="row g-2">
                            <div class="col-md-10">
                              <div class="row g-2"></div>
                            </div>
                          </div>
                        </div>
                      </div>
            
                      <br><br>                        
          
                            <div class="row">

                          
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="custom-text-box mb-lg-0 text-center">
                                        <h5 class="mb-5">Our Mission</h5>

                                        <p>To empower individuals and businesses through innovative digital solutions, by delivering reliable website development, network infrastructure, security systems, and quality tech products—backed by expert support and unmatched customer service.</p>

                                        
                                
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                                    <!-- <img src="/static/images/icons/weblogo.png" class="custom-text-box-image img-fluid" alt=""> -->
                                    <img src="/static/images/icons/websightlogo1.png" class="" alt="websight innovations" width="400">

                                </div>

                            </div>

                            <div class="container-fluid bg-danger mb-2 wow fadeIn" data-wow-delay="0.1s" style="padding: 2px">
                                <div class="container">
                                  <div class="row g-2">
                                    <div class="col-md-10">
                                      <div class="row g-2"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <br><br>   
                              <div class="row">

                                <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                                    <img src="/static/images/icons/websightlogo1.png" class="" alt="websight innovations" width="400">
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="custom-text-box mb-lg-0 text-center">
                                        <h5 class="mb-5" >Our Vision</h5>

                                        <p>To become a leading force in digital transformation and smart technology integration across our region, known for excellence, trust, and impactful solutions that shape a more connected and secure future.</p>

                                        
                          
                                    </div>
                                </div>
                          
                                <div class="container-fluid bg-danger mb-2 wow fadeIn" data-wow-delay="0.1s" style="padding: 2px">
                                    <div class="container">
                                      <div class="row g-2">
                                        <div class="col-md-10">
                                          <div class="row g-2"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>

                            
                </div>

                <div class="row">

                    <div class="col-lg-2 col-12">
       
                        
                    </div>

                    <div class="col-lg-8 col-12">
                        <div class="custom-text-box text-center">
                            <h2 class="mb-2 text-center">Our Valued Clients</h2>

                            <h5 class="mb-3">Join the Websight family – where technology meets trust.

                            </h5>

                            <p class="mb-0">At Websight Innovations, we’re proud to serve a diverse range of customers across industries. From small businesses and corporate offices to residential clients and retail outlets, our solutions are trusted to deliver performance, reliability, and peace of mind.

                            </p>
                        </div>
                        
                    </div>
                    <div class="col-lg-2 col-12">
         
                        
                    </div>
                </div>



                
        
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12 text-center mb-4">
                            <h5 class="mb-3 text-muted">We’ve had the privilege of working with:

                            </h5>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="custom-block-wrap">
                                <img src="/static/images/clients/hangar.jpg" class="custom-block-image img-fluid" alt="">

                                <div class="custom-block">
                                    <div class="custom-block-body">
                                        <h5 class="mb-3">Lady Lori Helicopters</h5>

                                        <!-- <p>Lorem Ipsum dolor sit amet, consectetur adipsicing kengan omeg kohm tokito</p> -->

                                      

                                    </div>

                                    <a href="https://new.flyladylori.com/" class="custom-btn btn">Visit now</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="custom-block-wrap">
                                <img src="/static/images/clients/butereboys.jpg" class="custom-block-image img-fluid" alt="">

                                <div class="custom-block">
                                    <div class="custom-block-body">
                                        <h5 class="mb-3">Butere Boys High School</h5>


                                    

                     
                                    </div>

                                    <a href="https://butereboyshigh.ach.ke/" class="custom-btn btn">Visit now</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="custom-block-wrap">
                                <img src="/static/images/clients/bellevue.jpg" class="custom-block-image img-fluid" alt="">

                                <div class="custom-block">
                                    <div class="custom-block-body">
                                        <h5 class="mb-3">Bellevue School</h5>

                                        <!-- <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus</p> -->

                                        <!-- <div class="progress mt-4">
                                            <div class="progress-bar w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div> -->

                  
                                    </div>

                                    <a href="https://bellevueschool.sc.ke/" class="custom-btn btn">Visit now</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br><br>

                    <div class="row">

        

                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="custom-block-wrap">
                                <img src="/static/images/clients/kirimara.jpeg" class="custom-block-image img-fluid" alt="">

                                <div class="custom-block">
                                    <div class="custom-block-body">
                                        <h5 class="mb-3">Kirimara Coffee Estate</h5>

                                        <!-- <p>Lorem Ipsum dolor sit amet, consectetur adipsicing kengan omeg kohm tokito</p> -->

                                      

                              
                                    </div>

                                    <a href="donate.html" class="custom-btn btn">Visit now</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="custom-block-wrap">
                                <img src="/static/images/clients/preciuos.webp" class="custom-block-image img-fluid" alt="">

                                <div class="custom-block">
                                    <div class="custom-block-body">
                                        <h5 class="mb-3">Precious Blood Secondary School, Riruta</h5>


                                      

                        
                                    </div>

                                    <a href="donate.html" class="custom-btn btn">Visit now</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="custom-block-wrap">
                                <img src="/static/images/clients/legend.jpg" class="custom-block-image img-fluid" alt="">

                                <div class="custom-block">
                                    <div class="custom-block-body">
                                        <h5 class="mb-3">The Legend,Karen</h5>

                                        <!-- <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus</p> -->

                                        <!-- <div class="progress mt-4">
                                            <div class="progress-bar w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div> -->

                            
                                    </div>

                                    <a href="https://legendkaren.co.ke/" class="custom-btn btn">Visit now</a>
                                </div>
                            </div>
                        </div>

                    </div>


                    <br><br>
                    <div class="row">

        

                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="custom-block-wrap">
                                <img src="/static/images/clients/entim.jpg" class="custom-block-image img-fluid" alt="">

                                <div class="custom-block">
                                    <div class="custom-block-body">
                                        <h5 class="mb-3">Entim Sidai</h5>

                                        <!-- <p>Lorem Ipsum dolor sit amet, consectetur adipsicing kengan omeg kohm tokito</p> -->

                                      

                              
                                    </div>

                                    <a href="https://entimsidai.com" class="custom-btn btn">Visit now</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="custom-block-wrap">
                                <img src="/static/images/clients/ourw.png" class="custom-block-image img-fluid" alt="">

                                <div class="custom-block">
                                    <div class="custom-block-body">
                                        <h5 class="mb-3">Our Lady Of Peace Nursery School,Karen</h5>


                                      

                        
                                    </div>

                                    <a href="donate.html" class="custom-btn btn">Visit now</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="custom-block-wrap">
                                <img src="/static/images/clients/pack.jpg" class="custom-block-image img-fluid" alt="">

                                <div class="custom-block">
                                    <div class="custom-block-body">
                                        <h5 class="mb-3">Park Place Hotel</h5>

                                        <!-- <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus</p> -->

                                        <!-- <div class="progress mt-4">
                                            <div class="progress-bar w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div> -->

                            
                                    </div>

                                    <a href="https://parkplacehotel.co.ke/" class="custom-btn btn">Visit now</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
           

<br><br>



                <div class="container-fluid bg-danger mb-2 wow fadeIn" data-wow-delay="0.1s" style="padding: 2px">
                    <div class="container">
                      <div class="row g-2">
                        <div class="col-md-10">
                          <div class="row g-2"></div>
                        </div>
                      </div>
                    </div>
                  </div>

                 
        
            </section>

            
         
          


           
        
            


    

      

            <section class="testimonial-section section-padding section-bg">
                <div class="container-fluid">
                    <div class="row">
                       
            
                        <div class="col-lg-12 col-12 mx-auto">
                            <h2 class="mb-lg-3">Happy Customers</h2>
            
                            <div id="testimonial-carousel" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
            
                                    {% for group in grouped_testimonials %}
                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                        <div class="row">
                                            {% for testimonial in group %}
                                                {% if testimonial %}


                                         
                                                <div class="col-lg-4 col-12 mx-auto">

                                                </div>
                                                <div class="col-md-4 col-12 mb-4 carousel-caption">
                                                    <div class="testimonial-box p-3  rounded  h-100">
                                                      
                                                             <h4 class="carousel-title">{{ testimonial.message }}</h4>
                                                             <small class="carousel-name">
                                                                <span class="carousel-name-title">{{ testimonial.name }} ~ {{ testimonial.title }}</span>
                                                            </small>
                                                            <br><br>
                                                        
                                                            <img src="{{ testimonial.image.url|default:'/static/images/avatar/default.jpg' }}"
                                                            class="img-fluid rounded-circle mb-3 avatar-image"
                                                            alt="avatar" style="width: 80px; height: 80px;">
                                                        <!-- <h5 class="carousel-name">{{ testimonial.name }}</h5> -->
                                                        <!-- <p class="carousel-title">{{ testimonial.message|truncatewords:20 }}</p> -->
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-12 mx-auto">

                                                </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endfor %}
            
                                </div>
            
                                <button class="carousel-control-prev" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>

                        <div class="col-lg-2 col-12 mx-auto">

                        </div>
            
                    </div>
                </div>
            </section>

        
            
            
            
            



            <section class="contact-section section-padding" id="section_6">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4 col-12 ms-auto mb-5 mb-lg-0">
                            <div class="contact-info-wrap">
                             

                                <div class="contact-image-wrap d-flex flex-wrap">
                                    <img src="/static/images/icons/weblogo.png" class="img-fluid" alt="">

                                  
                                </div>

                              
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 mx-auto">
                            <h2>Share Your Experience</h2>

                            {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-success">{{ message }}</div>
                            {% endfor %}
                            {% endif %}
                            <form method="POST" enctype="multipart/form-data">
                               
                                {% csrf_token %}
                                {{ form.as_p }}
                              

                                <button type="submit" class="form-control">Submit Testimonial</button>
                            </form>
                        </div>

                    </div>
                </div>
            </section>

            <!-- <section class="testimonial-form-section section-padding">
                <div class="container">
                    <h3 class="mb-4">Share Your Experience</h3>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Submit Testimonial</button>
                    </form>
                </div>
            </section> -->

        </main>



  

 

    {% endblock%}
</html>