{% extends 'base.html' %} {% load static %} {% block content %}

<!-- <section class="section-padding" id="section_3">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center mb-4">
                <h2>What We Do</h2>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block-wrap">
                    <img src="/static/images/mision2.jpg" class="custom-block-image img-fluid" alt="">

                    <div class="custom-block">
                        <div class="custom-block-body">
                            <h5 class="mb-3">Kirimara Estate Coffee </h5>

                            <p>At <strong>Kirimara Coffee Estate</strong> , we take pride in practicing every stage of the coffee harvesting process with care and tradition. From hand-picking ripe cherries to the final drying phase, our methods ensure quality in every bean.</p>

                          <p> <strong>Explore all the stages and view our gallery to see the craft behind every cup.</strong> </p>
                           
                        </div>

                        <a href="donate.html" class="custom-btn btn">Details And Gallery</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block-wrap">
                    <img src="/static/images/coffee2.jpg" class="custom-block-image img-fluid" alt="">

                    <div class="custom-block">
                        <div class="custom-block-body">
                            <h5 class="mb-3">Community Development</h5>  

                            <p>Our mission goes beyond producing exceptional coffee — we are deeply rooted in uplifting the local community. By employing and training local farmers, supporting youth empowerment programs, and investing in sustainable agricultural practices, we create lasting impact where it matters most.</p>

                           

                   
                        </div>

                        <a href="donate.html" class="custom-btn btn">Details And Gallery</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="custom-block-wrap">
                    <img src="/static/images/coffee4.jpg" class="custom-block-image img-fluid" alt="">

                    <div class="custom-block">
                        <div class="custom-block-body">
                            <h5 class="mb-3">Our Nursery</h5>

                            <p> Every great harvest begins with a healthy seed. Our nursery is the heart of our sustainability efforts — where we carefully cultivate resilient, high-quality coffee seedlings using eco-friendly practices.

                                We provide training to local farmers on seed selection, disease-resistant varieties, and soil management to promote long-term productivity. By distributing seedlings to smallholder farmers and community cooperatives, we help improve yields, increase incomes, and ensure the future of specialty coffee in our region.</p>

                       

          
                        </div>

                        <a href="donate.html" class="custom-btn btn">Details And Gallery</a>
                    </div>
                </div>
            </div>

        </div>
<br><br>
        <div class="row">

            
            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block-wrap">
                    <img src="/static/images/mision.jpg" class="custom-block-image img-fluid" alt="">

                    <div class="custom-block">
                        <div class="custom-block-body">
                            <h5 class="mb-3">Educational and Training Services </h5>

                            <p>We believe knowledge is just as vital as the soil we plant in. Our farm serves as a living classroom — offering hands-on educational programs and training workshops for aspiring farmers, students, and coffee enthusiasts.</p>

                           
                        </div>

                        <a href="donate.html" class="custom-btn btn">Details And Gallery</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block-wrap">
                    <img src="/static/images/coffee3.jpg" class="custom-block-image img-fluid" alt="">

                    <div class="custom-block">
                        <div class="custom-block-body">
                            <h5 class="mb-3">Value-Added Product Development</h5>  

                            <p>At <strong>Kirimara Coffee Estate</strong> , sustainability doesn’t stop at the harvest. We transform coffee pulp and other natural by-products into nutrient-rich organic manure—a powerful, eco-friendly fertilizer that nourishes our soil and reduces waste.</p>

                           

                   
                        </div>

                        <a href="donate.html" class="custom-btn btn">Details And Gallery</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="custom-block-wrap">
                    <img src="/static/images/coffee2.jpg" class="custom-block-image img-fluid" alt="">

                    <div class="custom-block">
                        <div class="custom-block-body">
                            <h5 class="mb-3">Agro-Tourism / Eco-Tourism</h5>

                            <p>  Through every visit, we promote environmental awareness and community development while showcasing the beauty and purpose behind responsible farming.</p>

                       

          
                        </div>

                        <a href="donate.html" class="custom-btn btn">Details And Gallery</a>
                    </div>
                </div>
            </div>

        </div>


    </div>
</section> -->
<!-- dynamic -->



<section class="section-padding" id="section_3">
    <div class="container">
        <div class="col-lg-12 col-12 text-center mb-4">
            <h2>What We Do</h2>

            <p>At Websight Innovations, we provide reliable and future-ready technology solutions designed to keep your business connected, secure, and visible. Whether you're building your digital presence or upgrading your infrastructure, our expert team delivers professional service with a focus on innovation and performance.</p>
        </div>
        <br><br>

        <div class="container-fluid bg-danger mb-2 wow fadeIn" data-wow-delay="0.1s" style="padding: 2px">
            <div class="container">
              <div class="row g-2">
                <div class="col-md-10">
                  <div class="row g-2"></div>
                </div>
              </div>
            </div>
          </div>
         

    
       
    </div>
</section>
<section class="" >
    <div class="container">
    

          <div class="col-lg-12 col-12 text-center mb-4">
            <h5>We specialize in: </h5>

            <p> At <strong>Websight Innovations</strong>, we provide reliable and future-ready technology solutions designed to keep your business connected, secure, and visible. Whether you're building your digital presence or upgrading your infrastructure, our expert team delivers professional service with a focus on innovation and performance.</p>
        </div>



        <div class="row">
           
            {% for image in images %}
            
            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block-wrap">
                    <a href="{% url 'image_detail' image.id %}" class="custom-block-image img-fluid">                  
                        <img src="{{ image.image.url }}" class="custom-block-image img-fluid equal-size" alt="{{ image.title }}">
                    </a>

                    <div class="custom-block">
                        <div class="custom-block-body">
                            <h5 class="mb-3 text-muted">{{ image.title }}</h5>
                            <p>{{ image.description }}</p>
                        </div>

                        <a href="{% url 'image_detail' image.id %}" class="custom-btn btn">Details And Gallery</a>
                       
                    </div>
                   
                </div>
                
            </div>

            
            {% endfor %}

            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block-wrap">
                    <img src="/static/images/clients/accessories.webp" class="custom-block-image img-fluid" alt="">
    
                    <div class="custom-block">
                        <div class="custom-block-body">
                            <h5 class="mb-3 text-muted">Our Products</h5>  
    
                            <p>Let Websight Innovations be your go-to shop for affordable tech solutions that keep your world moving.
    
                            </p>
    
                           
    
                   
                        </div>
    
                        <a href="{% url 'products' %}" class="custom-btn btn">Details And Gallery</a>
                    </div>
                </div>
            </div>
        </div> <!-- Close the row here -->

        

    </div> 


</section>
<br><br>
<style>
    .equal-size {
        width: 100%; /* Ensure the images take full width of the column */
        height: 200px; /* Set a fixed height */
        object-fit: cover; /* Ensures images cover the area without distorting their aspect ratio */
    }
</style>


 {% endblock %}


